@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/img-vid.css");
@import url("components/footer.css");

title {
    display: none;
}

body{
  font-family:'Helvetica', sans-serif;
  font-size: 16px;
  color:white;
  background-color:rgb(34, 34, 34);
  margin: 0px;
}

h1{
  font-size:48px;
}

h2{
  font-size: 1.6rem;
  font-weight:lighter;
}

h3{
  font-size:19px;
  font-weight:lighter;
}


a{text-decoration: none;
}
a:hover{
  color:white;
  text-decoration-line: none;
}

ul{
    list-style-type: none;
}

.container-fluid{
  padding:0;
}

.row{
  background-color:black;
  margin: 8px 0px;
}

